{% extends 'base.html.twig' %}

{% block search %}
	<form class="form-inline" name="search" action="{{ path('product') }}" method="post">
		<input name="searchText" class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search" required>
		<button class="btn my-2 my-sm-0" type="submit" id="searchButton">Search</button>
	</form>
{% endblock  %}

{% block footercategory %}
	<li class="mb-3">
		<strong><a href="{{ path('category',{'slug':'Electronics'}) }}">Electronics</a></strong>
	</li>
	{% for cate in categories %}
		{% if cate.parent is not null %}
			{% if cate.parent.name == 'Electronics' %}
				<li class="mb-3">
					<a style="margin-left: 20px;" href="{{ path('category',{'slug':cate.name}) }}">{{ cate.detailName }}</a>
				</li>
			{% endif %}
		{% endif %}
	{% endfor %}
	<li class="mb-3">
		<strong><a href="{{ path('category',{'slug':'Books'}) }}">Books</a></strong>
	</li>
	{% for cate in categories %}
		{% if cate.parent is not null %}
			{% if cate.parent.name == 'Books' %}
				<li class="mb-3">
					<a style="margin-left: 20px;" href="{{ path('category',{'slug':cate.name}) }}">{{ cate.detailName }}</a>
				</li>
			{% endif %}
		{% endif %}
	{% endfor %}
{% endblock %}

{% block category %}
	<select id="agileinfo-nav_search" name="agileinfo_search" class="border" required="" onchange="self.location= '/shopping-cart/products/category/' + this.options[this.selectedIndex].value;">
		<option value="">All Categories</option>
		{% for category in categories %}
			{% if category.parent is null %}
				<option value="{{ category.name }}">{{ category.detailName }}</option>
			{% endif %}
		{% endfor %}
	</select>
{% endblock %}

{% block products %}
	<li class="nav-item dropdown mr-lg-2 mb-lg-0 mb-2">
		<a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
			Electronics
		</a>
		<div class="dropdown-menu">
			<div class="agile_inner_drop_nav_info p-4">
				<h5 class="mb-3"><a href="{{ path('category',{'slug':'Electronics'}) }}">Electronics</a></h5>
				<div class="row">
					<div class="col-sm-6 multi-gd-img">
						<ul class="multi-column-dropdown">
							{% for electronic in electronics %}
								{% if electronic.parent.name == 'Electronics' %}
									<li>
										<a href="{{ path('category',{'slug':electronic.name}) }}">  <strong>{{ electronic.detailName }}</strong></a>
									</li>
								{% elseif electronic.parent.parent is not null %}
									{% if electronic.parent.parent.name == 'Electronics' %}
										<li class="elename">
											<a href="{{ path('category',{'slug':electronic.name}) }}"> {{ electronic.detailName }} </a>
										</li>
									{% endif %}
								{% endif %}
							{% endfor %}
						</ul>
					</div>
				</div>
			</div>
		</div>
	</li>
	<li class="nav-item dropdown mr-lg-2 mb-lg-0 mb-2">
		<a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
			Books
		</a>
		<div class="dropdown-menu">
			<div class="agile_inner_drop_nav_info p-4">
				<h5 class="mb-3"><a href="{{ path('category',{'slug':'Books'}) }}">Books</a></h5>
				<div class="row">
					<div class="col-sm-6 multi-gd-img">
						<ul class="multi-column-dropdown">
							{% for electronic in electronics %}
								{% if electronic.parent.name == 'Books' %}
									<li>
										<a href="{{ path('category',{'slug':electronic.name}) }}"> <strong>{{ electronic.detailName }}</strong></a>
									</li>
								{% elseif electronic.parent.parent is not null %}
									{% if electronic.parent.parent.name == 'Books' %}
										<li class="elename">
											<a href="{{ path('category',{'slug':electronic.name}) }}"> {{ electronic.detailName }} </a>
										</li>
									{% endif %}
								{% endif %}
							{% endfor %}
						</ul>
					</div>
				</div>
			</div>
		</div>
	</li>
{% endblock %}

{% block body %}
	<!-- banner-2 -->
	<div class="page-head_agile_info_w3l">

	</div>
	<!-- //banner-2 -->
	<!-- page -->
	<div class="services-breadcrumb">
		<div class="agile_inner_breadcrumb">
			<div class="container">
				<ul class="w3_short">
					<li>
						<a href="{{ path('default') }}">Home</a>
						<i>|</i>
					</li>
					<li>About Us</li>
				</ul>
			</div>
		</div>
	</div>
	<!-- //page -->

	<!-- about -->
	<div class="welcome py-sm-5 py-4">
		<div class="container py-xl-4 py-lg-2">
			<!-- tittle heading -->
			<h3 class="tittle-w3l text-center mb-lg-5 mb-sm-4 mb-3">
				<span>A</span>bout
				<span>U</span>s</h3>
			<!-- //tittle heading -->
			<div class="row">
				<div class="col-lg-6 welcome-left">
					<h3>Welcome</h3>
					<h4 class="my-sm-3 my-2">consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
						quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</h4>
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse porta erat sit amet eros sagittis, quis hendrerit
						libero aliquam. Fusce semper augue ac dolor efficitur, a pretium metus pellentesque.</p>
				</div>
				<div class="col-lg-6 welcome-right-top mt-lg-0 mt-sm-5 mt-4">
					<img src="{{ asset('images/ab.jpg') }}" class="img-fluid" alt=" ">
				</div>
			</div>
		</div>
	</div>
	<!-- //about -->

	<!-- testimonials -->
	<div class="testimonials py-sm-5 py-4">
		<div class="container py-xl-4 py-lg-2">
			<!-- tittle heading -->
			<h3 class="tittle-w3l text-center text-white mb-lg-5 mb-sm-4 mb-3">
				<span>O</span>ur
				<span>C</span>ustomers
				<span>S</span>ays</h3>
			<!-- tittle heading -->
			<div class="row gallery-index">
				<div class="col-sm-6 med-testi-grid">
					<div class="med-testi test-tooltip rounded p-4">
						<p>"sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation
							ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
					</div>
					<div class="row med-testi-left my-5">
						<div class="col-lg-2 col-3 w3ls-med-testi-img">
							<img src="{{ asset('images/user.jpg') }}" alt=" " class="img-fluid rounded-circle" />
						</div>
						<div class="col-lg-10 col-9 med-testi-txt">
							<h4 class="font-weight-bold mb-lg-1 mb-2">Tyson</h4>
							<p>fames ac turpis</p>
						</div>
					</div>
				</div>
				<div class="col-sm-6 med-testi-grid">
					<div class="med-testi test-tooltip rounded p-4">
						<p>"sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation
							ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
					</div>
					<div class="row med-testi-left my-5">
						<div class="col-lg-2 col-3 w3ls-med-testi-img">
							<img src="{{ asset('images/user.jpg') }}" alt=" " class="img-fluid rounded-circle" />
						</div>
						<div class="col-lg-10 col-9 med-testi-txt">
							<h4 class="font-weight-bold mb-lg-1 mb-2">Alejandra</h4>
							<p>fames ac turpis</p>
						</div>
					</div>
				</div>
				<div class="col-sm-6 med-testi-grid">
					<div class="med-testi test-tooltip rounded p-4">
						<p>"sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation
							ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
					</div>
					<div class="row med-testi-left mt-sm-5 my-5">
						<div class="col-lg-2 col-3 w3ls-med-testi-img">
							<img src="{{ asset('images/user.jpg') }}" alt=" " class="img-fluid rounded-circle" />
						</div>
						<div class="col-lg-10 col-9 med-testi-txt">
							<h4 class="font-weight-bold mb-lg-1 mb-2">Charles</h4>
							<p>fames ac turpis</p>
						</div>
					</div>
				</div>
				<div class="col-sm-6 med-testi-grid">
					<div class="med-testi test-tooltip rounded p-4">
						<p>"sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation
							ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
					</div>
					<div class="row med-testi-left mt-5">
						<div class="col-lg-2 col-3 w3ls-med-testi-img">
							<img src="{{ asset('images/user.jpg') }}" alt=" " class="img-fluid rounded-circle" />
						</div>
						<div class="col-lg-10 col-9 med-testi-txt">
							<h4 class="font-weight-bold mb-lg-1 mb-2">Jessie</h4>
							<p>fames ac turpis</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- //testimonials -->
{% endblock %}

{% block pages %}
	<div class="dropdown-menu">
		{% for page in pages %}
			<a class="dropdown-item" href="{{ path('page',{'slug': page.slug}) }}">{{ page.title }}</a>
		{% endfor %}
	</div>
{% endblock %}

{% block footercategorylinks %}
	<h5 class="font-weight-bold mb-2">Electronics:</h5>
	<ul>
		{% for category in categories %}
			{% if category.parent is not null %}
				{% if category.parent.name == 'Electronics' %}
					<li class="m-sm-1">
						<a href="{{ path('category',{'slug':category.name}) }}" class="border-right pr-2">{{ category.detailName }}</a>
					</li>
				{% endif %}
			{% endif %}
		{% endfor %}
	</ul>
	<h5 class="font-weight-bold mb-2">Books: </h5>
	<ul>
		{% for category in categories %}
			{% if category.parent is not null %}
				{% if category.parent.name == 'Books' %}
					<li class="m-sm-1">
						<a href="{{ path('category',{'slug':category.name}) }}" class="border-right pr-2">{{ category.detailName }}</a>
					</li>
				{% endif %}
			{% endif %}
		{% endfor %}
	</ul>
{% endblock %}
