{% extends 'base.html.twig' %}

{% block footercategory %}
    <li class="mb-3">
        <strong><a href="{{ path('category',{'slug':'Electronics'}) }}">Electronics</a></strong>
    </li>
    {% for cate in categories %}
        {% if cate.parent is not null %}
            {% if cate.parent.name == 'Electronics' %}
                <li class="mb-3">
                    <a style="margin-left: 20px;" href="{{ path('category',{'slug':cate.name}) }}">{{ cate.detailName }}</a>
                </li>
            {% endif %}
        {% endif %}
    {% endfor %}
    <li class="mb-3">
        <strong><a href="{{ path('category',{'slug':'Books'}) }}">Books</a></strong>
    </li>
    {% for cate in categories %}
        {% if cate.parent is not null %}
            {% if cate.parent.name == 'Books' %}
                <li class="mb-3">
                    <a style="margin-left: 20px;" href="{{ path('category',{'slug':cate.name}) }}">{{ cate.detailName }}</a>
                </li>
            {% endif %}
        {% endif %}
    {% endfor %}
{% endblock %}

{% block search %}
    <form class="form-inline" name="search" action="{{ path('product') }}" method="post">
        <input name="searchText" id="searchText" class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search" required>
        <button class="btn my-2 my-sm-0" type="submit" id="searchButton">Search</button>
    </form>
{% endblock  %}

{% block category %}
    <select id="agileinfo-nav_search" name="agileinfo_search" class="border" required="" onchange="self.location= '/shopping-cart/products/category/' + this.options[this.selectedIndex].value;">
        <option value="">All Categories</option>
        {% for category in categories %}
            {% if category.parent is null %}
                <option value="{{ category.name }}">{{ category.detailName }}</option>
            {% endif %}
        {% endfor %}
    </select>
{% endblock %}

{% block products %}
    <li class="nav-item dropdown mr-lg-2 mb-lg-0 mb-2">
        <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Electronics
        </a>
        <div class="dropdown-menu">
            <div class="agile_inner_drop_nav_info p-4">
                <h5 class="mb-3"><a href="{{ path('category',{'slug':'Electronics'}) }}">Electronics</a></h5>
                <div class="row">
                    <div class="col-sm-6 multi-gd-img">
                        <ul class="multi-column-dropdown">
                            {% for electronic in electronics %}
                                {% if electronic.parent.name == 'Electronics' %}
                                    <li>
                                        <a href="{{ path('category',{'slug':electronic.name}) }}">  <strong>{{ electronic.detailName }}</strong></a>
                                    </li>
                                {% elseif electronic.parent.parent is not null %}
                                    {% if electronic.parent.parent.name == 'Electronics' %}
                                        <li class="elename">
                                            <a href="{{ path('category',{'slug':electronic.name}) }}"> {{ electronic.detailName }} </a>
                                        </li>
                                    {% endif %}
                                {% endif %}
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </li>
    <li class="nav-item dropdown mr-lg-2 mb-lg-0 mb-2">
        <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Books
        </a>
        <div class="dropdown-menu">
            <div class="agile_inner_drop_nav_info p-4">
                <h5 class="mb-3"><a href="{{ path('category',{'slug':'Books'}) }}">Books</a></h5>
                <div class="row">
                    <div class="col-sm-6 multi-gd-img">
                        <ul class="multi-column-dropdown">
                            {% for electronic in electronics %}
                                {% if electronic.parent.name == 'Books' %}
                                    <li>
                                        <a href="{{ path('category',{'slug':electronic.name}) }}"> <strong>{{ electronic.detailName }}</strong></a>
                                    </li>
                                {% elseif electronic.parent.parent is not null %}
                                    {% if electronic.parent.parent.name == 'Books' %}
                                        <li class="elename">
                                            <a href="{{ path('category',{'slug':electronic.name}) }}"> {{ electronic.detailName }} </a>
                                        </li>
                                    {% endif %}
                                {% endif %}
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </li>
{% endblock %}

{% block body %}
    <!-- detail block -->

<div class="ads-grid py-sm-5 py-4">
    <div class="container py-xl-4 py-lg-2">
        <div class="product-sec1 px-sm-4 px-3 py-sm-5  py-3 mb-4">
{#            <div class="row">#}

        <table style="margin-left: 5%; margin-top: 2%; margin-bottom: 2%;">
            <tr style="height: auto; width: auto">
                <td style="border: #e0e0e0 1px solid; width: auto;  margin-top: 2%; margin-bottom: 2%; margin-right: 2%; padding: 20px 20px 20px 20px;">
                    <div>
                        <img src="{{ asset('images/uploads/') }}{{ product.productImage }}" style="width: auto; height: auto">
                    </div>
                </td>
                <td style="padding: 30px 30px 30px 30px; font-size: larger; width: auto ">
                    <div class="snipcart-details top_brand_home_details item_add single-item hvr-outline-out">
                        <form name="productDetailForm" action="{{ path('addtocart') }}" method="post">
                            {{ product.description }} <br>
                            {% if product.brand is not null %} Brand is {{ product.brand.name }}. <br> {% endif %}
                            Price Rs. {{ product.price }} <br>
                            <input type="hidden" value="{{ product.id }}" name="productId">
                            <input type="number" style="width: 40%; font-size:.875rem; margin-bottom: 2px" class="product-quantity" name="quantity" min="0"
                                {% for availableQty in soldoutcheck %}
                                    {% if product.id is same as(availableQty.id) %}
                                        {% if availableQty.totalQty + product.maxQtyPerUserPerCart > product.availavleQty%}
                                            max="{{ product.availavleQty - availableQty.totalQty }}"
                                        {% endif %}
                                    {% endif %}
                                {% endfor %}
                                   max="{{ product.maxQtyPerUserPerCart }}"
                                   value="1"/>
                            <input id="addToCart" type="submit"
                                {% for availableQty in soldoutcheck %}
                                    {% if product.id is same as(availableQty.id) %}
                                        {% if availableQty.totalQty == product.availavleQty %} value="Sold out" disabled {% endif %}
                                    {% endif %}
                                {% endfor %}
                                   value="Add to cart" class="button btn" style="margin-bottom: 5px" />
{#                            <a href="{{ path('default') }}" class="button2 btn-primary" style="width: inherit">Back</a>#}
                        </form>
                    </div>
                </td>
            </tr>
        </table>
{#            </div>#}
        </div>
    </div>
</div>
    <!-- detail block -->

    <!-- Q&A block -->
<div class="footer-top-first">
<div class="container py-md-5 py-sm-4 py-3">
    <div class="a-section askDetailPageSearchWidgetSection">
        <div class="a-section a-spacing-extra-large">
            <h2 class="a-spacing-micro">
                Have a question?
            </h2>
            <p>
                Please write down your questions here...
            </p>
                <div>
                    {{ form_start(questionForm) }}
                        <div >
                            <table style="width: 50%">
                                {% if app.user is null %}
                                    <div style="color: red">
                                        Please login first!
                                    </div>
                                    <tr>
                                        <td>
                                            {{ form_widget(questionForm.questionTitle,{'attr':{'disabled':true}}) }}
                                        </td>
                                        <td>
                                            {{ form_widget(questionForm.submit,{'attr':{'class':'btn btn-sm btn-primary','disabled':true}}) }}
                                        </td>
                                    </tr>
                                {% else %}
                                    <tr>
                                        <td>
                                            {{ form_widget(questionForm.questionTitle) }}
                                        </td>
                                        <td>
                                            {{ form_widget(questionForm.submit,{'attr':{'class':'btn btn-sm btn-primary'}}) }}
                                        </td>
                                    </tr>
                                {% endif %}
                            </table>
                        </div>
                    {{ form_end(questionForm) }}
                </div>
            <div>
                {% if questionList is not empty %}
                    {% for questions in questionList %}
                        <div class="answerGrid">
                            <form name="questionAnswer" action="{{ path('answer',{'id':questions.id}) }}" class="questionAnswer" method="post">
                                <table>
                                    <tr>
                                        <td> Question : </td>
                                        <td> &nbsp; &nbsp;  </td>
                                        <td> {{ questions.questionTitle }} </td>
                                    </tr>
                                            {% for answers in answerList %}
                                            {% if answers.question.id is same as(questions.id) %}
                                    <tr>
                                        <td>
                                            Answer :
                                        </td>
                                        <td> &nbsp; &nbsp; </td>
                                        <td>
                                            {{ answers.answer }}
                                        </td>
                                    </tr>
                                            {% endif %}
                                            {% endfor %}
                                    <tr>
                                       <td colspan="2">
                                           <input id="ans" type="submit" class="btn btn-sm btn-primary" value="Answer">
                                       </td>
                                    </tr>
                                </table>
                            </form>
                        </div>
                    {% endfor %}
                {% endif %}
            </div>
        </div>
    </div>
</div>
</div>
    <!-- Q&A block -->
{% endblock %}

{% block pages %}
    <div class="dropdown-menu">
        {% for page in pages %}
            <a class="dropdown-item" href="{{ path('page',{'slug': page.slug}) }}">{{ page.title }}</a>
        {% endfor %}
    </div>
{% endblock %}

{% block footercategorylinks %}
    <h5 class="font-weight-bold mb-2">Electronics:</h5>
    <ul>
        {% for category in categories %}
            {% if category.parent is not null %}
                {% if category.parent.name == 'Electronics' %}
                    <li class="m-sm-1">
                        <a href="{{ path('category',{'slug':category.name}) }}" class="border-right pr-2">{{ category.detailName }}</a>
                    </li>
                {% endif %}
            {% endif %}
        {% endfor %}
    </ul>
    <h5 class="font-weight-bold mb-2">Books: </h5>
    <ul>
        {% for category in categories %}
            {% if category.parent is not null %}
                {% if category.parent.name == 'Books' %}
                    <li class="m-sm-1">
                        <a href="{{ path('category',{'slug':category.name}) }}" class="border-right pr-2">{{ category.detailName }}</a>
                    </li>
                {% endif %}
            {% endif %}
        {% endfor %}
    </ul>

{% endblock %}

{% block javascripts %}
<!-- start-smooth-scrolling -->
<script src="{{asset('js/move-top.js')}}"></script>
<script src="{{ asset('js/easing.js') }}"></script>
<script>
    jQuery(document).ready(function ($) {
        $(".scroll").click(function (event) {
            event.preventDefault();

            $('html,body').animate({
                scrollTop: $(this.hash).offset().top
            }, 1000);
        });
    });
</script>
<!-- //end-smooth-scrolling -->

<!-- smooth-scrolling-of-move-up -->
<script>
    $(document).ready(function () {
        /*
        var defaults = {
            containerID: 'toTop', // fading element id
            containerHoverID: 'toTopHover', // fading element hover id
            scrollSpeed: 1200,
            easingType: 'linear'
        };
        */
        $().UItoTop({
            easingType: 'easeOutQuart'
        });

    });
</script>
<!-- //smooth-scrolling-of-move-up -->
{% endblock %}