{% extends 'base.html.twig' %}

{% block search %}
    <form class="form-inline" name="search" action="{{ path('product') }}" method="post">
        <input name="searchText" id="searchText" class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search" required>
        <button class="btn my-2 my-sm-0" type="submit" id="searchButton">Search</button>
    </form>
{% endblock  %}

{% block footercategory %}
    <li class="mb-3">
        <strong><a href="{{ path('category',{'slug':'Electronics'}) }}">Electronics</a></strong>
    </li>
    {% for cate in categories %}
        {% if cate.parent is not null %}
            {% if cate.parent.name == 'Electronics' %}
                <li class="mb-3">
                    <a style="margin-left: 20px;" href="{{ path('category',{'slug':cate.name}) }}">{{ cate.detailName }}</a>
                </li>
            {% endif %}
        {% endif %}
    {% endfor %}
    <li class="mb-3">
        <strong><a href="{{ path('category',{'slug':'Books'}) }}">Books</a></strong>
    </li>
    {% for cate in categories %}
        {% if cate.parent is not null %}
            {% if cate.parent.name == 'Books' %}
                <li class="mb-3">
                    <a style="margin-left: 20px;" href="{{ path('category',{'slug':cate.name}) }}">{{ cate.detailName }}</a>
                </li>
            {% endif %}
        {% endif %}
    {% endfor %}
{% endblock %}

{% block category %}
    <select id="agileinfo-nav_search" name="agileinfo_search" class="border" required="" onchange="self.location= '/shopping-cart/products/category/' + this.options[this.selectedIndex].value;">
        <option value="">All Categories</option>
        {% for category in categories %}
            {% if category.parent is null %}
                <option value="{{ category.name }}">{{ category.detailName }}</option>
            {% endif %}
        {% endfor %}
    </select>
{% endblock %}

{% block products %}
    <li class="nav-item dropdown mr-lg-2 mb-lg-0 mb-2">
        <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Electronics
        </a>
        <div class="dropdown-menu">
            <div class="agile_inner_drop_nav_info p-4">
                <h5 class="mb-3"><a href="{{ path('category',{'slug':'Electronics'}) }}">Electronics</a></h5>
                <div class="row">
                    <div class="col-sm-6 multi-gd-img">
                        <ul class="multi-column-dropdown">
                            {% for electronic in electronics %}
                                {% if electronic.parent.name == 'Electronics' %}
                                    <li>
                                        <a href="{{ path('category',{'slug':electronic.name}) }}">  <strong>{{ electronic.detailName }}</strong></a>
                                    </li>
                                {% elseif electronic.parent.parent is not null %}
                                    {% if electronic.parent.parent.name == 'Electronics' %}
                                        <li class="elename">
                                            <a href="{{ path('category',{'slug':electronic.name}) }}"> {{ electronic.detailName }} </a>
                                        </li>
                                    {% endif %}
                                {% endif %}
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </li>
    <li class="nav-item dropdown mr-lg-2 mb-lg-0 mb-2">
        <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Books
        </a>
        <div class="dropdown-menu">
            <div class="agile_inner_drop_nav_info p-4">
                <h5 class="mb-3"><a href="{{ path('category',{'slug':'Books'}) }}">Books</a></h5>
                <div class="row">
                    <div class="col-sm-6 multi-gd-img">
                        <ul class="multi-column-dropdown">
                            {% for electronic in electronics %}
                                {% if electronic.parent.name == 'Books' %}
                                    <li>
                                        <a href="{{ path('category',{'slug':electronic.name}) }}"> <strong>{{ electronic.detailName }}</strong></a>
                                    </li>
                                {% elseif electronic.parent.parent is not null %}
                                    {% if electronic.parent.parent.name == 'Books' %}
                                        <li class="elename">
                                            <a href="{{ path('category',{'slug':electronic.name}) }}"> {{ electronic.detailName }} </a>
                                        </li>
                                    {% endif %}
                                {% endif %}
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </li>
{% endblock %}

{% block pages %}
    <div class="dropdown-menu">
        {% for page in pages %}
            <a class="dropdown-item" href="{{ path('page',{'slug': page.slug}) }}">{{ page.title }}</a>
        {% endfor %}
    </div>
{% endblock %}

{% block body %}
    {{ page.title }}
    {{ page.description }}
{% endblock %}

{% block footercategorylinks %}
    <h5 class="font-weight-bold mb-2">Electronics:</h5>
    <ul>
        {% for category in categories %}
            {% if category.parent is not null %}
                {% if category.parent.name == 'Electronics' %}
                    <li class="m-sm-1">
                        <a href="{{ path('category',{'slug':category.name}) }}" class="border-right pr-2">{{ category.detailName }}</a>
                    </li>
                {% endif %}
            {% endif %}
        {% endfor %}
    </ul>
    <h5 class="font-weight-bold mb-2">Books: </h5>
    <ul>
        {% for category in categories %}
            {% if category.parent is not null %}
                {% if category.parent.name == 'Books' %}
                    <li class="m-sm-1">
                        <a href="{{ path('category',{'slug':category.name}) }}" class="border-right pr-2">{{ category.detailName }}</a>
                    </li>
                {% endif %}
            {% endif %}
        {% endfor %}
    </ul>

{% endblock %}

{% block javascripts %}
<!-- start-smooth-scrolling -->
<script src="{{asset('js/move-top.js')}}"></script>
<script src="{{ asset('js/easing.js') }}"></script>
<script>
    jQuery(document).ready(function ($) {
        $(".scroll").click(function (event) {
            event.preventDefault();

            $('html,body').animate({
                scrollTop: $(this.hash).offset().top
            }, 1000);
        });
    });
</script>
<!-- //end-smooth-scrolling -->

<!-- smooth-scrolling-of-move-up -->
<script>
    $(document).ready(function () {
        /*
        var defaults = {
            containerID: 'toTop', // fading element id
            containerHoverID: 'toTopHover', // fading element hover id
            scrollSpeed: 1200,
            easingType: 'linear'
        };
        */
        $().UItoTop({
            easingType: 'easeOutQuart'
        });

    });
</script>
<!-- //smooth-scrolling-of-move-up -->
    <!--search-box-autocompelte-->
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script>
        $(document).ready(function () {
            var product = {{ products|json_encode|raw }};
            $(function () {
                $('#searchText').autocomplete({
                    source: product,
                });
            });
        });
    </script>
    <!--//search-box-autocompelte-->
{% endblock %}